[Desktop Entry]
Type=Application
Name=Knocking Goose Autostart
Comment=Starts Knocking Goose USB Sound Notifier for all users
Exec=/usr/share/knocking-goose/start.sh
Icon=false
Terminal=false
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=5
X-KDE-autostart-after=panel
X-MATE-Autostart-enabled=true
StartupNotify=false
Categories=System;Utility;
